html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 1.5;
  background-color: #f2f2f2;
  margin: 0 1.5em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem auto;
}

div {
  display: block;
  text-align: left;
  float: left;
  font-size: .875rem;
  width: 25%;
  min-height: 30em;
  border-style: solid;
  border-color: #333;
  border-width: 0 .2px;
}

img {
  width: 100%;
  display: block;
}

div img {
  width: 100px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

h3 {
  margin: 0 .2rem;
}

.author {
  font-style: italic;
  font-size: .8rem;
  margin: .2rem 1rem .2rem .5rem;
}

.info {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 1rem 1.5rem .5rem;
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  float: left;
}

.btn-small {
  padding: .75rem;
  border-radius: 9px;
}

.btn:hover {
  background-color: #000;
}

.book-1 {
  background-color: #e2e2e2;
  padding: .75rem;
}

.book-2 {
  background-color: #ccc;
  padding: .75rem;
}

.book-3 {
  background-color: #aaa;
  padding: .75rem;
}

.book-4 {
  background-color: #999;
  padding: .75rem;
}
